/*whatsapp fijo*/
.float{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
    &:hover{
    background-color: #28e76e;
}
        .bi-whatsapp{
            font-size: 35px;
            align-items: center;
}}