/*pie de pagina*/
footer {
    p {
        color:$color-pie;
        font-size: 20px;
        text-align:left;
        margin: 10px;
        padding: 20px;
}

    .redes{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
            a{
                text-align: left;
                padding: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: none;
}}}