main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
        .tarjeta {
            width: 320px;
            margin: 30px;
            padding: 10px;
            background-color: $principal;
            opacity: 87%;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.349);
}
    h3{
        text-align: center;
        font-size: 20px;
        color: black;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        background-color: $color-fondo;
        margin: 2px;
        padding: 6px;

}
    img{
        width: 100%;
        height: 90%;
}
}}